@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Candyhome', sans-serif;
}

body {
	font-size: 16px;
	font-family: Candyhome;
}